:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #373737;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0 auto;
  padding-top: 3.5rem;
}

.content {
  margin: 0 auto;
  max-width: 90% !important;
  padding: 2rem 1rem;
}

@media screen and (max-width:500px) {
  .content {
    max-width: 100vw !important;
    padding: 1rem .5rem;
  }
}